<div class="collapsible collapsible--expanded">
    <header class="collapsible--header">
        <h3 class="collapsible__heading">Products</h3>
        <svg class="icon collapsible__chevron">
            <use xlink:href="images/arrow.svg#up-arrow"></use>
          </svg>
    </header>
    <div class="collapsible__content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Architecto nam quo assumenda natus atque beatae in rem quas repellendus eius!
    </div>
</div>
<script src="js/main.js"></script>