<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Modi voluptatem obcaecati unde illo corporis eum vitae quibusdam est, 
                eius molestiae laborum quasi quos voluptatum. Sunt eos ea odit aliquam id.
            </p>
        </h3>
    </div>
</div>