<nav class="nav collapsible ">
    <a class="nav__logo" href="/"><img src="images/logo.svg" alt=""></a>
    <svg class="icon nav__icon">
        <use xlink:href="images/toggler_sprite.svg#toggler"></use>
      </svg>
    <ul class="list nav__list collapsible__content">
        <li class="list__item"><a href="#">Hosting</a></li>
        <li class="list__item"><a href="#">VPN</a></li>
        <li class="list__item"><a href="#">Domain</a></li>
        <li class="list__item"><a href="#">Pricing</a></li>
    </ul>

</nav>
<script src="js/main.js"></script>