<div class="card testimonial">
    <div class="grid grid--cols-2">
        <div class="testimonial__image">
            <img src="images/testimonial.jpg" alt="A happy man">
            <span class="icon-container">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#left-quotes-sign"></use>
                  </svg>
            </span>
        </div>
        <blockquote class="quote">
            <p class="quote__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Iure dolorem quisquam culpa, repellat ut cupiditate voluptatum vitae incidunt ex? Ullam?
             </p>
             <footer>
                 <div class="media">
                     <div class="media__image">
                         <svg class="icon icon--primary quote__line">
                             <use xlink:href="images/line_sprite.svg#substract (1)"></use>
                           </svg>
                     </div>
                     <div class="media__body">
                         <h3 class="media__title quote_author">John Smith</h3>
                             <p class="company-name">Jafton Company
                             </p>
                     </div>
                 </div>
             </footer>
        </blockquote>
    </div>
</div>